*{
    list-style: none;
    padding: 0;
}
body{
    font-family: 'Sriracha', cursive;
}
#showcase{
    justify-content: center;
    align-items: center;
    text-align: left;
}

.header{
    background-image: url(../unnamed.jpg);
    padding: 20px;
    text-align: center;
    color: aliceblue;
}
.topnav{
    background-color: skyblue;
    overflow: hidden;
}
.topnav a{
    float: left;
    display: block;
    color: snow;
    text-align: center;
    padding: 14px 20px;
    text-decoration: navy;

}
.topnav a:hover{
    background-color: snow;
    color: skyblue;
}
.header img{
    border-radius: 100%;
    width: 100px;
}
div h2{
    text-align: center;
}
table{
    padding: 10px;
}
table th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: skyblue;
}
