body
{
    background-color: slategrey;
    font-family: 'Courgette', cursive;
    padding: 20px;
}

h1{
    text-align: center;
    font-weight: 100;
    color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table{
    background-color: pink;
    border: 3px solid #fff;
    margin-bottom: 20px;
    text-align: center;
}

img{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
}

th td{
    border: 2px solid #fff;
    border-collapse: collapse;
    padding: 15px;
}
p{
    font: sans-serif;
    text-align: center;
    color: pink;
    border-bottom-style: dotted;
    border-top-style: dotted;
    border-left-style: solid;
    border-right-style: solid;
    line-height: 2;
    font-size: 16px;
}